button{
    display: inline;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px;
    background-color: bisque;
}
body {
    background-color: darkgreen;
    color: yellow;
    text-align: center;
}

.dealer-hand img {
    height: 120px;
    width: 105px;
    margin: 1px;
}
.player-hand img {
    height: 120px;
    width: 105px;
    margin: 1px;
}
.hidden img {
    height: 150px;
    width: 125px;
    margin: 1px;
}

button {
    font-size: 20px;
    margin: auto;
}
.gridButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#gameOver {
    font-size: 80px;
}